body{
    margin: 0;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(28,28,28,1) 30%, 
            rgba(28,28,28,1) 50%, rgba(28,28,28,1) 70%, rgba(0,0,0,1) 100%);
}

p, h1{
  color: white;
  text-align: center;
}

.rotate{
    animation: rotation 80s infinite linear;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

.quadro{
    background-color:#1d378c;
    margin: 0% 15% 0% 15%;
    border-radius: 25px 25px 25px 25px;
    padding: 2%;
}

.topbar{
  overflow: hidden;
  background-color: #1d378c;
}

.topbar p{
  font-size: 20px ;
  text-decoration: none;
}