body{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(28,28,28,1) 30%, 
            rgba(28,28,28,1) 50%, rgba(28,28,28,1) 70%, rgba(0,0,0,1) 100%);
}

.rotate{
    animation: rotation 80s infinite linear;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }


p, h1{
    color: white;
    text-align: center;
}

.texto{
    background-color:#1d378c;
    margin: 0% 15% 0% 15%;
    padding: 2%;
}
