@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

h1,h2,h3,h4,h5,h6{
    font-family: 'Open Sans', sans-serif;
}

label{
    text-align: start;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
}

body{
    background-color: #e2ede5;
}
.logo{
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 4%;
}
main{  
    margin-top: 4%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px 10px 10px 10px;
    border: solid 2px;
    background-color: white;  
    max-width: 45%;
}
 
.login-container{
    flex-direction: column;
    display: flex;
    justify-items: center;
    align-items: center;
}

.login-container form{
    flex-direction: column;
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 30px; 
}

.login-container form label{
    margin-right: auto;
    padding-top: 10%;
}

.text-area{
    border: solid gray 1px;
    border-radius: 8px 8px 8px 8px;
    width: 100%;
    height: 30px;
}
